* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: Arial, Helvetica, sans-serif;
    --border-main: 1px solid #333;
    --main-text-color: #333;
    --aside-bg: #f4f4f4;
    --main-width: 800px;
    --img-small: 150px;
    --img-aside: 200px;
}

body {
    font-family: var(--main-font);
    font-size: 16px;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
}

h1 {
    color: steelblue;
    padding: 5rem;
}

main {
    max-width: 640px;
    
}

main img {
    width: var(--img-small);
    height: auto;
    padding: 2px;
    border: 1px solid steelblue;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem;
}

aside {
    position: relative;
    width: 20rem;
    
    border: var(--border-main);
    
    background-color: var(--aside-bg);
    color: var(--main-text-color);
      
    text-align: center;
}

aside img {
    width: 250px;
    height: auto;
}
aside h2 {
  position: absolute;
  top: 40px;
  left: 45px;
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 5px;
}



footer {
    margin-top: 1em;
    border-top: var(--border-main);
    text-align: center;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
  margin-top: 40px;
}

.indent {
    padding-left: 2rem;
}