* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: Arial, Helvetica, sans-serif;
    --border-main: 1px solid #333;
    --main-text-color: #333;
    --aside-bg: #f4f4f4;
    --main-width: 800px;
    --img-small: 150px;
    --img-aside: 200px;
}

body {
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
}

main {
    max-width: var(--main-width);
    margin: 0 auto;
}

main img {
    width: var(--img-small);
    height: auto;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border-main);
    padding: 1rem;
    background-color: var(--aside-bg);
    color: var(--main-text-color);
}

aside img {
    width: var(--img-aside);
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: var(--border-main);
    text-align: center;
    padding: 10px;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

aside {
  width: 20em;
  text-align: center;
}